
.addPost{
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 10vh;
  left: 25%;
  padding: 20px;
  z-index: 100;
}

.addPost .description{
  height: 50vh;
  
}

.page{
  display: flex;
  flex-direction: row;
}

.posts{
 
  width: 30vw;
  height: 100vh;
  overflow-y: scroll;
overflow-x: hidden;


}

.items{
display: flex;
flex-direction: column;
height: auto;
margin: 10px;



border-bottom: 1px solid rgba(126, 124, 124, 0.432);

}

.username{
  color: rgb(211, 88, 156);
}

.title{
  /* display: flex;

  */


  display:block;
  width:95%;
  word-wrap:break-word;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;


  
  
}

#createButton{
  display: absolute;

}

.singlePost {
  width: 70vw;
  height: 100vh;
  overflow-y: scroll;
overflow-x: hidden;
  border-left: 1px solid rgba(126, 124, 124, 0.432);
  padding-top: 10px;
    
  
}
.singlePost .topictitle{


  width: 70vw;
  border-bottom: 1px solid rgba(126, 124, 124, 0.432);

}

.topictitle h1{
  /* display:block; */
padding:5px;
  word-wrap:break-word;
margin: 0px;
}

.content{
  display: block;
margin-top: 5px;


}

.origin{
display: flex;
flex-direction: column;
  width: 70vw;
  padding: 5px;
  border-bottom: 1px solid rgba(126, 124, 124, 0.432);
  min-height: 30vh;
  margin:5px;
}

.comment{
  width: 70vw;
  min-height: 20vh;
padding: 5px;
  border-bottom: 1px solid rgba(126, 124, 124, 0.432);
  margin:5px;

}
.likeButton{
  margin-top: auto;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 3px;
}

@media screen and (max-width: 600px) {
  /* .singlePost #inactive{
    display: none;
  } */
  .singlePost .origin {
    width: 30vh;
  }
  .singlePost h1{
    width: 30vh;
  } 
  .comment{
    width: 30vh;
  }
  .posts{
    height:100vh;
    width: 100%;
    border-right: 1px solid rgba(126, 124, 124, 0.432);
  }
}
