
.addPost{
  width: 90%;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 20vh;
  left: 5%;
  z-index: 100;
}

.page{
  display: flex;
  flex-direction: row;
}

.posts{
  height:100vh;
  width: 30%;
  border-right: 1px solid rgba(126, 124, 124, 0.432);
}

.items{
display: flex;
flex-direction: column;
margin: 10px;
border-bottom: 1px solid rgba(126, 124, 124, 0.432);

}

.username{
  color: rgb(211, 88, 156);
}

.title{
  font-size: 28px;
  cursor: pointer;
  
}

#createButton{
  display: absolute;

}


.singlePost h1{
  width: 120vh;
  border-bottom: 1px solid rgba(126, 124, 124, 0.432);
}

.origin{
display: flex;
flex-direction: column;
  width: 120vh;
  border-bottom: 1px solid rgba(126, 124, 124, 0.432);
  min-height: 30vh;
}

.comment{
  width: 120vh;
  border-bottom: 1px solid rgba(126, 124, 124, 0.432);

}
.likeButton{
  margin-top: auto;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 3px;
}

@media screen and (max-width: 600px) {
  /* .singlePost #inactive{
    display: none;
  } */
  .singlePost .origin {
    width: 30vh;
  }
  .singlePost h1{
    width: 30vh;
  } 
  .comment{
    width: 30vh;
  }
  .posts{
    height:100vh;
    width: 100%;
    border-right: 1px solid rgba(126, 124, 124, 0.432);
  }
}
